/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:39rem;
}

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/


#img-equipo{
    max-height:30rem;
    width:50%;
}


/*=========================CONTACTOS FORMULARIO================================*/

.mb-3 a {
    color: white;
    text-decoration: none;


}

#contenedor-formulario{

    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}

/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}
